.new_tweet {
  margin: 10% 5% 10% 5%;
  display: flex;
  flex-direction: column;
  width: 60%;
}

.new_tweet label {
  padding-bottom: 0.7em;
  border-bottom:  #545149 4px solid;
}

.new_tweet textarea {
  background-color: #f4f1ec;
  border: 0;
  height: 2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.new_tweet div {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
}
.new_tweet button {
  font-family: 'Bungee', cursive;
  background-color: #4056A1;
  border: 0;
  color: #FFFF;
  padding: 0.4em;
  border-radius: 5px;
}
.over {
  color: brown;
}

.error-message {
  display: none;
}
.error {
  display: inline-block;
  margin: 0.3em 0 0.5em 0;
  color: brown;
  font-weight: 500;
}
